/node_modules
/public/hot
/public/storage
/public/css/*.css
/public/js/*.js
/public/js/*.LICENSE.txt
/public/*.js
/public/*.LICENSE.txt
/public/mix-manifest.json
/public/fonts/*
/public/images/*

/storage/*.key
/vendor
.env
.vscode
.idea
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
config/fortify.php
